<div LeftEar></div>
<div RightEar></div>
<div Head></div>
<div LeftEye></div>
<div RightEye></div>
<div Mouth></div>
<div LeftNose></div>
<div RightNose></div>
<style>
  *{
    background:#191919;
  }
  [LeftEar]{
    position:absolute;
    top:75;
    left:145;
    width:20;
    height:10;
    background:#000000;
    border:5px solid #FE5F55;
    border-radius:50%;
    transform:rotate(45deg);
}
  [RightEar]{
    position:absolute;
    top:75;
    left:225;
    width:20;
    height:10;
    background:#000000;
    border:5px solid #FE5F55;
    border-radius:50%;
    transform:rotate(-45deg);
}
  [Head]{
    position:absolute;
    top:75;
    left:135;
    width:130;
    height:100;
    border-radius:60px 60px 0 0;
    background:#FE5F55;
  }
  [LeftEye]{
    position:absolute;
    top:125;
    left:160;
    width:10;
    height:10;
    border-radius:50%;
    background:#191919;
  }
    [RightEye]{
    position:absolute;
    top:125;
    right:160;
    width:10;
    height:10;
    border-radius:50%;
    background:#191919;
  }
  [Mouth]{
    position:absolute;
    top:145;
    left:125;
    width:150;
    height:100;
	border-radius:55px 55px 45px 45px;
    background:#A64942;
  }
  [LeftNose]{
    position:absolute;
    top:170;
    left:145;
    width:30;
    height:20;
	border-radius:50%;
    background:#000000;
    transform:rotate(-45deg);
  }
  [RightNose]{
    position:absolute;
    top:170;
    left:225;
    width:30;
    height:20;
	border-radius:50%;
    background:#000000;
    transform:rotate(45deg);
  }